[submodule "0x18-stacks_queues_lifo_fifo/monty"]
	path = 0x18-stacks_queues_lifo_fifo/monty
	url = https://github.com/jeffreykanemitsu/monty.git
[submodule "0x18."]
	path = 0x18.
	url = https://github.com/jeffreykanemitsu/monty
